In [83]:
from IPython.display import display
import pandas as pd

In [85]:
file = ("C:/Users/daint/OneDrive/Desktop/purchase_data.csv")

In [86]:
purchase_path = pd.read_csv(file)
print(purchase_path)

     Purchase ID             SN  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [87]:
purchase_df = purchase_path

In [88]:
purchase_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [89]:
renamed_purchase_df = purchase_df.rename(columns={"SN":"Player Name"})

In [90]:
renamed_purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [91]:
print(renamed_purchase_df)

     Purchase ID    Player Name  Age  Gender  Item ID  \
0              0        Lisim78   20    Male      108
1              1    Lisovynya38   40    Male      143
2              2     Ithergue48   24    Male       92
3              3  Chamassasya86   24    Male      100
4              4      Iskosia90   23    Male      131
..           ...            ...  ...     ...      ...
775          775     Aethedru70   21  Female       60
776          776         Iral74   21    Male      164
777          777     Yathecal72   20    Male       67
778          778        Sisur91    7    Male       92
779          779      Ennrian78   24    Male       50

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 7 columns]

In [92]:
renamed_purchase_df.count()

Purchase ID    780
Player Name    780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

In [93]:
renamed_purchase_df["Player Name"].value_counts()

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Phyali88       3
              ..
Tyaerith73     1
Yadaisuir65    1
Hiarideu73     1
Mindista32     1
Aeral43        1
Name: Player Name, Length: 576, dtype: int64

In [94]:
renamed_purchase_df["Player Name"].unique()

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [95]:
renamed_purchase_df.dtypes

Purchase ID      int64
Player Name     object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [96]:
player_name_purchase_df = renamed_purchase_df.loc[:, "Player Name"].value_counts()
player_name_purchase_df

Lisosia93      5
Idastidru52    4
Iral74         4
Aelin32        3
Phyali88       3
              ..
Tyaerith73     1
Yadaisuir65    1
Hiarideu73     1
Mindista32     1
Aeral43        1
Name: Player Name, Length: 576, dtype: int64

In [97]:
total_player_names = len(renamed_purchase_df["Player Name"].value_counts())
print(total_player_names)

576

### Player Count

In [101]:
total_player_names_df = {"Total Player Names": [total_player_names]}
df = pd.DataFrame(total_player_names_df)
display(df)

   Total Player Names
0                 576

In [16]:
item_purchase_df = purchase_df[["Item Name", "Price"]]

In [17]:
print(item_purchase_df)

                                     Item Name  Price
0    Extraction, Quickblade Of Trembling Hands   3.53
1                            Frenzied Scimitar   1.56
2                                 Final Critic   4.88
3                                  Blindscythe   3.27
4                                         Fury   1.44
..                                         ...    ...
775                                       Wolf   3.54
776                           Exiled Doomblade   1.63
777      Celeste, Incarnation of the Corrupted   3.46
778                               Final Critic   4.19
779                                       Dawn   4.60

[780 rows x 2 columns]

In [18]:
unique_items = item_purchase_df["Item Name"].unique()

In [19]:
unique_items

array(['Extraction, Quickblade Of Trembling Hands', 'Frenzied Scimitar',
       'Final Critic', 'Blindscythe', 'Fury', 'Dreamkiss',
       'Interrogator, Blood Blade of the Queen', 'Abyssal Shard',
       'Souleater', 'Ghastly Adamantite Protector',
       'Singed Onyx Warscythe', 'Renewed Skeletal Katana',
       "Bloodlord's Fetish", 'Bone Crushing Silver Skewer',
       'Deadline, Voice Of Subtlety', 'Second Chance', 'Devine',
       'Nirvana', 'Blazefury, Protector of Delusions',
       'Despair, Favor of Due Diligence',
       'Sun Strike, Jaws of Twisted Visions', 'Warped Fetish',
       'Severance', 'Persuasion',
       'Oathbreaker, Last Hope of the Breaking Storm', 'Demise',
       'Blood-Forged Skeletal Spine',
       'Stormbringer, Dark Blade of Ending Misery',
       'Shadow Strike, Glory of Ending Hope', 'Striker',
       'Wolf, Promise of the Moonwalker', "Faith's Scimitar",
       'Bonecarvin Battle Axe', 'Azurewrath', 'Vengeance Cleaver',
       'Haunted Bronzed Bludgeon', 'Ritual Mace', 'Blade of the Grave',
       'Thorn, Satchel of Dark Souls', "Winter's Bite",
       'Thorn, Conqueror of the Corrupted', "Reaper's Toll", 'Avenger',
       'Shadowsteel', 'Peacekeeper, Wit of Dark Magic', 'Suspension',
       'Amnesia', 'Soul Infused Crystal', 'Wolf',
       'Relentless Iron Skewer', 'Hero Cane', 'Arcane Gem', 'Dreamsong',
       'Darkheart', 'Hailstorm Shadowsteel Scythe',
       'Whistling Mithril Warblade', 'Foul Titanium Battle Axe',
       'Retribution Axe', 'Rusty Skull',
       'Riddle, Tribute of Ended Dreams', 'Chaos, Ender of the End',
       'Storm-Weaver, Slayer of Inception', 'Venom Claymore',
       'Emberling, Defender of Delusions', 'Netherbane', 'Dawn',
       'Primitive Blade', 'Dawne', 'Curved Axe',
       'Fate, Vengeance of Eternal Justice',
       'Lazarus, Terror of the Earth', 'Lightning, Etcher of the King',
       'Betrayal, Whisper of Grieving Widows', 'Exiled Doomblade',
       'Undead Crusader', 'Downfall, Scalpel Of The Emperor',
       'Sleepwalker', 'Eternal Cleaver',
       'Expiration, Warscythe Of Lost Worlds', 'Malificent Bag',
       'Mercy, Katana of Dismay', 'Orbit', 'Deathraze', 'Serenity',
       'Heartstriker, Legacy of the Light', 'Glimmer, Ender of the Moon',
       'Deluge, Edge of the West', 'Crucifer', 'Piece Maker',
       'Brutality Ivory Warmace', "Freak's Bite, Favor of Holy Might",
       'Yearning Crusher', 'Agatha', 'Fiery Glass Crusader', 'Splinter',
       'Verdict', 'Warped Iron Scimitar',
       'Darkheart, Butcher of the Champion', 'Purgatory, Gem of Regret',
       'Woeful Adamantite Claymore', 'Hopeless Ebon Dualblade',
       "Warmonger, Gift of Suffering's End", "Misery's End",
       'Phantomlight', 'Conqueror Adamantite Mace', "Dragon's Greatsword",
       'Stormcaller', 'Spada, Etcher of Hatred', "Twilight's Carver",
       'Putrid Fan', 'Blood Infused Guardian', 'Singed Scalpel',
       'Warped Diamond Crusader', 'Endbringer', 'Feral Katana', 'Orenmir',
       'Piety, Guardian of Riddles', 'Brimstone', 'Stormfury Mace',
       'Frenzy, Defender of the Harvest', "Solitude's Reaver",
       'Mercenary Sabre', 'Yearning Mageblade',
       'Tranquility, Razor of Black Magic',
       'Oathbreaker, Spellblade of Trials',
       'Aetherius, Boon of the Blessed', 'Righteous Might',
       'Victor Iron Spikes', 'Swan Song, Gouger Of Terror',
       'Thunderfury Scimitar', 'Splitter, Foe Of Subtlety',
       'Restored Bauble', 'The Decapitator',
       'Pursuit, Cudgel of Necromancy', 'Lifebender',
       'Flux, Destroyer of Due Diligence', 'Mourning Blade', 'Toothpick',
       "Hope's End", 'Torchlight, Bond of Storms', 'Thirsty Iron Reaver',
       'Stormfury Longsword', 'Malice, Legacy of the Queen',
       'War-Forged Gold Deflector', 'Blazeguard, Reach of Eternity',
       'Soul-Forged Steel Shortsword',
       'Hellreaver, Heirloom of Inception', 'Heartless Bone Dualblade',
       'Scalpel', 'Hatred', 'Crying Steel Sickle',
       'The Void, Vengeance of Dark Magic', 'Celeste',
       'Ghost Reaver, Longsword of Magic',
       'Celeste, Incarnation of the Corrupted', 'Glinting Glass Edge',
       'The Oculus, Token of Lost Worlds', 'Massacre',
       'Alpha, Oath of Zeal', 'Possessed Core', 'Foul Edge', 'Trickster',
       'Fusion Pummel', 'Stormfury Lantern', 'Apocalyptic Battlescythe',
       'Unholy Wand', 'Unending Tyranny', 'Ragnarok',
       'Rage, Legacy of the Lone Victor', 'Worldbreaker',
       'Exiled Mithril Longsword', 'Spectral Diamond Doomblade',
       'Vindictive Glass Edge', 'Heartseeker, Reaver of Souls',
       'Alpha, Reach of Ending Hope', 'Alpha', 'Betrayer',
       'Winterthorn, Defender of Shifting Worlds', "Gladiator's Glaive"],
      dtype=object)

### Purchasing Analysis (Total)

#### Number of Unique Items

In [20]:
total_unique = len(item_purchase_df["Item Name"].unique())
print(total_unique)

179

#### Average Purchase Price

In [23]:
average_price = item_purchase_df.mean()

In [24]:
average_price.head()

Price    3.050987
dtype: float64

#### Total Number of Purchases

In [25]:
total_item_name = len(item_purchase_df["Item Name"])

In [26]:
print(total_item_name)

780

#### Total Revenue

In [356]:
total_price = item_purchase_df["Price"].sum()

In [357]:
print(total_price)

2379.77

#### Purchasing Analysis Dataframe

In [358]:
df = pd.DataFrame({"Number of Unique Items": total_unique, "Average Purchase Price": average_price, "Total Number of Purchases": total_item_name, "Total Revenue": total_price})
df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
Price,179,3.050987,780,2379.77

## Gender Demographics

In [28]:
renamed_purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [298]:
total_gender_count = renamed_purchase_df.loc[:, ["Gender"]].count()
print(total_gender_count)

Gender    780
dtype: int64

In [299]:
male_players_df = renamed_purchase_df.loc[renamed_purchase_df["Gender"] == "Male", :]
male_players_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-26
4,4,Iskosia90,23,Male,131,Fury,1.44,23-26

#### Count of Male Players

In [300]:
count_male_players = male_players_df

In [301]:
count_male = count_male_players.count()

#### Percentage of Male Players

In [303]:
percent_male = count_male / total_gender_count*100
print(percent_male)

Age                  NaN
Age Group            NaN
Gender         83.589744
Item ID              NaN
Item Name            NaN
Player Name          NaN
Price                NaN
Purchase ID          NaN
dtype: float64

#### Count of Female Players

In [308]:
female_players_df = renamed_purchase_df.loc[renamed_purchase_df["Gender"] == "Female", :]
female_players_df.count()

Purchase ID    113
Player Name    113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
Age Group      113
dtype: int64

In [311]:
count_female = female_players_df.count()

#### Percentage of Female Players

In [313]:
percent_female = count_female / total_gender_count*100
print(percent_female)

Age                  NaN
Age Group            NaN
Gender         14.487179
Item ID              NaN
Item Name            NaN
Player Name          NaN
Price                NaN
Purchase ID          NaN
dtype: float64

#### Count of Other Players

In [36]:
other_players_df = renamed_purchase_df.loc[renamed_purchase_df["Gender"] == "Other / Non-Disclosed", :]
other_players_df.count()

Purchase ID    15
Player Name    15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64

#### Percentage of Other Players

In [317]:
count_other = other_players_df.count()

In [319]:
percent_other = count_other / total_gender_count*100
print(percent_other)

Age                 NaN
Gender         1.923077
Item ID             NaN
Item Name           NaN
Player Name         NaN
Price               NaN
Purchase ID         NaN
dtype: float64

In [362]:
gender_df = pd.DataFrame(
    {"Total Count": [count_male_players, count_female_players, count_other_players], 
     "Percentage of Players": [percent_male, percent_female, percent_other]
    })

gender_df

NameError: name 'count_other_players' is not defined

### Purchasing Analysis (Gender)

#### Male Purchase Count

In [41]:
male_players_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [49]:
male_players_df[["Player Name","Item Name"]].count()

Player Name    652
Item Name      652
dtype: int64

#### Male Average Purchase Price

In [368]:
male_avg_price = male_players_df["Price"].mean()
print(male_avg_price)

3.0178527607361953

#### Male Total Purchase Value

In [71]:
male_total_price = male_players_df["Price"].sum()
print(male_total_price)

1967.64

#### Average Purchase Total per Person (Male)

In [61]:
male_count = male_players_df["Player Name"].value_counts()

In [62]:
male_avg_purchase = male_total_price/male_count

In [63]:
print(male_avg_purchase)

Lisosia93        393.528
Iral74           491.910
Idastidru52      491.910
Chamimla85       655.880
Pheodaisun84     655.880
                  ...
Heollyriap59    1967.640
Salilis27       1967.640
Chamimla73      1967.640
Alaesu91        1967.640
Aeral43         1967.640
Name: Player Name, Length: 484, dtype: float64

#### Female Purchase Count

In [64]:
female_players_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [65]:
female_players_df[["Player Name","Item Name"]].count()

Player Name    113
Item Name      113
dtype: int64

#### Female Average Purchase Price

In [104]:
female_avg_price = female_players_df["Price"].mean()
print(female_avg_price)

3.203008849557519

#### Female Total Purchase Value

In [74]:
female_total_price = female_players_df["Price"].sum()
print(female_total_price)

361.94

#### Average Purchase Total per Person (Female)

In [75]:
female_count = female_players_df["Player Name"].value_counts()

In [77]:
female_avg_price = female_total_price/female_count
print(female_avg_price)

Phyali88         120.646667
Ialallo29        120.646667
Umolrian85       120.646667
Tyidaim51        120.646667
Yathecal82       120.646667
                    ...
Aidain51         361.940000
Chadistaya75     361.940000
Yoishirrala98    361.940000
Assilsan72       361.940000
Frichaststa61    361.940000
Name: Player Name, Length: 81, dtype: float64

#### Other Purchase Count

In [102]:
other_players_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [103]:
other_players_df[["Player Name","Item Name"]].count()

Player Name    15
Item Name      15
dtype: int64

#### Other Average Purchase Price

In [106]:
other_avg_price = other_players_df["Price"].mean()
print(other_avg_price)

3.3460000000000005

#### Other Total Purchase Value

In [107]:
other_total_price = other_players_df["Price"].sum()
print(other_total_price)

50.19

#### Average Purchase Total per Person (Other)

In [109]:
other_count = other_players_df["Player Name"].value_counts()

In [110]:
other_avg_price = other_total_price/female_count
print(other_avg_price)

Phyali88         16.73
Ialallo29        16.73
Umolrian85       16.73
Tyidaim51        16.73
Yathecal82       16.73
                 ...
Aidain51         50.19
Chadistaya75     50.19
Yoishirrala98    50.19
Assilsan72       50.19
Frichaststa61    50.19
Name: Player Name, Length: 81, dtype: float64

## AGE DEMOGRAPHICS

In [118]:
print(renamed_purchase_df["Age"].max())
print(renamed_purchase_df["Age"].min())

45
7

In [121]:
# Binning

bins = [0, 10, 14, 18, 22, 26, 30, 34, 38, 42, 46]
group_labels = ["<10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46"]

In [122]:
pd.cut(renamed_purchase_df["Age"], bins, labels=group_labels).head()

0    19-22
1    39-42
2    23-26
3    23-26
4    23-26
Name: Age, dtype: category
Categories (10, object): [<10 < 11-14 < 15-18 < 19-22 ... 31-34 < 35-38 < 39-42 < 43-46]

In [124]:
renamed_purchase_df["Age Group"] = pd.cut(renamed_purchase_df["Age"], bins, labels=group_labels)
renamed_purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-26
4,4,Iskosia90,23,Male,131,Fury,1.44,23-26

In [137]:
renamed_purchase_df.set_index(["Age Group"])

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price
Age Group,,,,,,,
19-22,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
39-42,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
23-26,2,Ithergue48,24,Male,92,Final Critic,4.88
23-26,3,Chamassasya86,24,Male,100,Blindscythe,3.27
23-26,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
19-22,775,Aethedru70,21,Female,60,Wolf,3.54
19-22,776,Iral74,21,Male,164,Exiled Doomblade,1.63
19-22,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
<10,778,Sisur91,7,Male,92,Final Critic,4.19
23-26,779,Ennrian78,24,Male,50,Dawn,4.60

In [146]:
age_group_purchase_df = renamed_purchase_df.groupby(["Age Group"])
age_group_purchase_df

#### Demographics Purchase Count

In [178]:
age_group_purchase_df[["Player Name","Item Name"]].count()

           Player Name  Item Name
Age Group
<10                 32         32
11-14               19         19
15-18              113        113
19-22              254        254
23-26              207        207
27-30               63         63
31-34               38         38
35-38               35         35
39-42               15         15
43-46                4          4

#### Demographics Average Purchase Price

In [179]:
avg_age_group = age_group_purchase_df["Price"].mean()
print(avg_age_group)

Age Group
<10      3.405000
11-14    2.681579
15-18    3.034602
19-22    3.038937
23-26    3.063961
27-30    2.876667
31-34    2.728421
35-38    3.552857
39-42    3.366667
43-46    2.765000
Name: Price, dtype: float64

#### Demographics Total Purchase Price

In [180]:
totalpurchase_age_group = age_group_purchase_df["Price"].sum()
print(totalpurchase_age_group)

Age Group
<10      108.96
11-14     50.95
15-18    342.91
19-22    771.89
23-26    634.24
27-30    181.23
31-34    103.68
35-38    124.35
39-42     50.50
43-46     11.06
Name: Price, dtype: float64

#### Demographics Average Purchase Total per Person by Age Group

In [181]:
avg_per_person_count = age_group_purchase_df["Age Group"].value_counts()
print(avg_per_person_count)

Age Group  Age Group
<10        <10           32
11-14      11-14         19
15-18      15-18        113
19-22      19-22        254
23-26      23-26        207
27-30      27-30         63
31-34      31-34         38
35-38      35-38         35
39-42      39-42         15
43-46      43-46          4
Name: Age Group, dtype: int64

## Top Spenders

In [185]:
age_group_purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-26
4,4,Iskosia90,23,Male,131,Fury,1.44,23-26
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,19-22
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-38
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,19-22
8,8,Undjask33,22,Male,21,Souleater,1.10,19-22
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-38
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74,23-26
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67,23-26
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18,19-22
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-38
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,27-30
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-38
23,23,Eyrian71,40,Male,151,Severance,3.40,39-42
24,24,Siala43,30,Male,132,Persuasion,3.19,27-30
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,27-30
26,26,Lirtossa84,11,Male,71,Demise,1.61,11-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-38
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,<10
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,27-30
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,<10
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-18
46,46,Yasrisu92,27,Male,102,Avenger,3.44,27-30
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,31-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,31-34
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,11-14
60,60,Yadanu52,34,Male,44,Bonecarvin Battle Axe,2.38,31-34
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-18
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,15-18
75,75,Philodil43,33,Male,124,Venom Claymore,1.29,31-34
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,11-14
77,77,Lirtosia63,34,Male,20,Netherbane,3.27,31-34
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,15-18
95,95,Ilassast39,18,Male,164,Exiled Doomblade,1.63,15-18
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,11-14
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,39-42
163,163,Sidap51,11,Male,65,Conqueror Adamantite Mace,4.24,11-14
195,195,Minduri31,39,Male,113,Solitude's Reaver,4.07,39-42
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,39-42
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,43-46
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,43-46
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,43-46
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,43-46

In [197]:
renamed_purchase_df.head()

,Purchase ID,Player Name,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,19-22
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,39-42
2,2,Ithergue48,24,Male,92,Final Critic,4.88,23-26
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,23-26
4,4,Iskosia90,23,Male,131,Fury,1.44,23-26

In [285]:
spender_df = renamed_purchase_df.loc[:, ["Player Name", "Item Name", "Price"]]
spender_df.head()

     Player Name                                  Item Name  Price
0        Lisim78  Extraction, Quickblade Of Trembling Hands   3.53
1    Lisovynya38                          Frenzied Scimitar   1.56
2     Ithergue48                               Final Critic   4.88
3  Chamassasya86                                Blindscythe   3.27
4      Iskosia90                                       Fury   1.44

In [286]:
spender_group = spender_df.groupby(["Player Name"])
spender_group.head()

       Player Name                                  Item Name  Price
0          Lisim78  Extraction, Quickblade Of Trembling Hands   3.53
1      Lisovynya38                          Frenzied Scimitar   1.56
2       Ithergue48                               Final Critic   4.88
3    Chamassasya86                                Blindscythe   3.27
4        Iskosia90                                       Fury   1.44
..             ...                                        ...    ...
775     Aethedru70                                       Wolf   3.54
776         Iral74                           Exiled Doomblade   1.63
777     Yathecal72      Celeste, Incarnation of the Corrupted   3.46
778        Sisur91                               Final Critic   4.19
779      Ennrian78                                       Dawn   4.60

[780 rows x 3 columns]

In [256]:
top_list.sort_values()

Player Name
Alo38             1.00
Aidai61           1.01
Chanirra79        1.01
Eudanu84          1.02
Qilalista41       1.02
                  ...
Yarithsurgue62    4.94
Lassilsala30      4.94
Ririp86           4.94
Dyally87          4.99
Hiasri33          4.99
Name: Price, Length: 576, dtype: float64

In [262]:
top_list = top_list.reset_index(drop=True)

In [263]:
top_list.head()

    Player Name  Price
0  Adairialis76   2.28
1   Adastirin33   4.48
2        Aeda94   4.91
3        Aela59   4.32
4     Aelaria33   1.79

In [266]:
top_list.count()

Player Name    576
Price          576
dtype: int64

## Most Popular Items

In [324]:
renamed_purchase_df.columns

Index(['Purchase ID', 'Player Name', 'Age', 'Gender', 'Item ID', 'Item Name',
       'Price', 'Age Group'],
      dtype='object')

In [348]:
most_popular_df = renamed_purchase_df[["Item ID", "Item Name", "Price"]]
most_popular_df.head(5)

   Item ID                                  Item Name  Price
0      108  Extraction, Quickblade Of Trembling Hands   3.53
1      143                          Frenzied Scimitar   1.56
2       92                               Final Critic   4.88
3      100                                Blindscythe   3.27
4      131                                       Fury   1.44

In [351]:
most_popular = most_popular_df.groupby(["Item Name"]).size().sort_values(ascending=False)
most_popular.head(5)

Item Name
Final Critic                                    13
Oathbreaker, Last Hope of the Breaking Storm    12
Nirvana                                          9
Persuasion                                       9
Fiery Glass Crusader                             9
dtype: int64

In [352]:
total_purchase = most_popular_df["Price"].sum()
total_purchase

2379.77

## Most Popular Items